<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if title %}{{ title }} - {% endif %}{{ config.SITE_NAME }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="La mutmat est une mutuelle de matériel d'évennementiel, basée sur Rennes.">
    <link rel="stylesheet" href="/static/app.css">
    {% block head %}
    {% endblock head %}
</head>
<body>
    <header class="site-header">

  <div class="wrap">

    <a class="site-title" href="/"> <h1>{{ config.SITE_NAME }}</h1></a>
    

    <nav class="site-nav">
        <a href="#" class="menu-icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 18 15" enable-background="new 0 0 18 15" xml:space="preserve">
              <path fill="#505050" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0
                h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
              <path fill="#505050" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484
                h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
              <path fill="#505050" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0
                c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
            </svg>
          </a>
      <div class="trigger">
          <a class="page-link" href="/">À propos</a>
          <a class="page-link" href="/liste-materiel/">Liste du matériel</a>
        
      </div>
    </nav>

  </div>

</header>
{% if message %}
    <section class="notification {{ message[1] }}"> {{ message[0] }}</section>
{% endif %}

    <div class="page-content">
      <div class="wrap">
      <div class="post">
        {% block body %}
        {% endblock %}
</div>
      </div>
    </div>

    <footer class="site-footer">

  <div class="wrap">

    <h2 class="footer-heading">{{ config.SITE_NAME }}</h2>

    <div class="footer-col-1 column">
      <ul>
        <li><a href="mailto:{{ config.CONTACT_EMAIL }}">{{ config.CONTACT_EMAIL }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>
        
        
      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ config.SITE_DESCRIPTION }}</p>
    </div>

  </div>

</footer>


    </body>
</html>