{% extends "base.html" %}
{% block body %}
<header class="post-header">
    <h1>À propos</h1>
</header>
    
<article class="post-content">
    <h3 id="la-mutmat">La mutmat</h3>
        
    <p><em>Mutmat ça veut dire « mutuelle de matos ».</em></p>
        
    <p>La Mutmat est un collectif qui possède du matos d’évennementiel — électricité, structures,
    lumières, plomberie, son, outils — et qui le met à disposition pour les
    personnes ou les groupes qui peuvent en avoir besoin, à prix libre.</p>

    <p>Elle a été créée pour ne plus avoir à galérer à trouver le matos nécessaire à plein de moments, pour que du matos qui coûte cher puisse être accessible plus facilement. Ce n’est pas kiloutou, le matos prêté doit servir en priorité à faire marcher des événements qui font activement un travail d’accessibilité, au travers par exemple du prix libre, de bouffe vegan, d’attention portée aux comportements oppressifs, d’infokiosques, ou autres !</p>
</article>
{% endblock body %}
